/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* = Reset = */

@import "_reset.scss";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Contain floats. */
.cf:after {
  content: ' ';
  display: block;
  clear: both;
}

// Colors

@import "_colors.scss";

// Typography

@import "_typography.scss";

// Units

@import "unit/_feature-grid.scss";

// Style

@import "_style.scss";