// Variable
$v-wrapper-width: 1024px;

// Global

body {
	width: 100%;
	overflow-x: hidden;
}

// Nav

.a-global-nav {
	height: 54px;
	width: 100%;
	background-color: #f5f5f5;
}

// category header

.a-cat-header {

}

// category video

.a-cat-video {
	.video {
		width: 100%;
		height: 450px;
		background-color: #f5f5f5;
	}
}

// Category

.a-category {
	.a-cat-feature {
		position: relative;
		h3 {
			margin-bottom: 18px;
		}

		.a-feature-grid-wrap {
			// feature grid vars
			$v-fg-height: 380px;
			$v-fg-spacing: 10px;

			height: $v-fg-height;
			overflow-y: hidden;

			& > nav {
				.btn {
					// vars
					$v-fg-btn-height: 100px;
					$v-fg-btn-width: 46px;
					$v-fg-btn-bg: #ccc;

					position: absolute;
				  top: 50%;
				  margin-top: -($v-fg-btn-height/2);
					width: $v-fg-btn-width;
					height: $v-fg-btn-height;
					border-radius: 6px;
					background-color: $v-fg-btn-bg;
					opacity: 0.6;

					&:hover {
						opacity: 0.9;
						transition: all 0.3s;
					}

					&.next {
						right: $v-fg-btn-width/4;
					}
					&.prev {
						left: $v-fg-btn-width/4;
					}
					&.dissabled {
						display: none;
					}
				}
			}
			.a-feature-grid {
				width: 9999px;
				height: $v-fg-height;
				.col {
					position: relative;
					float: left;
					height: $v-fg-height;
					padding-right: 10px;
					overflow: hidden;
					opacity: 0.5;

					&.focused {
						opacity: 1;
					}
				}
				.grid-item {
					position: relative;
					clear: both;
					float: left;
					width: 340px;
					height: 185px;

					&:nth-child(odd) {
						background-color: #f2f2f2;
						margin-bottom: 10px;
					}

					&:nth-child(even) {
						background-color: #f9f9f9;
						margin-bottom: 0;
					}

					&.big {
						height: $v-fg-height;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

// Layout

section {
	padding-bottom: 58px;
	&:first-child {
		padding-top: 58px;
	}
}

.a-l-wrapper {
	width: $v-wrapper-width;
	margin: 0 auto;
}

.a-l-grid {
	@extend .cf;
}

.a-l-row {
	float: left;
	clear: both;
}